<div class="container is-fluid">
  <div class="columns">
    <div class="column is-12">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Detalle Nota De Cr&eacute;dito
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <br><br>
        <h4 style="text-align: center;font-size: large; color:#5bacec;font-weight: bold;">N&uacute;mero OC: {{oc}} |
          Monto Total: ${{montoTotal}} | C&oacute;digo Pa&iacute;s: {{codPais}} </h4>
        <br><br>

        <accordion>
          <accordion-group [isOpened]="false">
            <accordion-heading>
              <h4 class="panel-title">Datos Del Cliente</h4> <span class="accordion-icon"></span>
            </accordion-heading>
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
              <tr>
                <td>Correlativo Ventas</td>
                <td>{{cliente.correlativoVentas}}</td>
              </tr>
              <tr>
                <td>Rut Cliente</td>
                <td>{{ cliente.rutCliente }}</td>
              </tr>
              <tr>
                <td>Nombre Cliente</td>
                <td>{{ cliente.nombreCliente }}</td>
              </tr>
              <tr>
                <td>E-mail Cliente</td>
                <td>{{ cliente.mailCliente }}</td>
              </tr>
              <tr>
                <td>Tipo Documento</td>
                <td>{{ cliente.tipoDocumento }}</td>
              </tr>
              <tr>
                <td>Tipo Orden</td>
                <td>{{ cliente.tipoOrden }}</td>
              </tr>
              <tr>
                <td>Direcci&oacute;n</td>
                <td>{{ cliente.direccion }}</td>
              </tr>
              <tr>
                <td>Tel&eacute;fono Despacho</td>
                <td>{{ cliente.telefonoDespacho }}</td>
              </tr>
              <tr>
                <td>Tel&eacute;fono Cliente</td>
                <td>{{ cliente.telefonoCliente }}</td>
              </tr>
            </table>
          </accordion-group>

          <accordion-group [isOpened]="false">
            <accordion-heading>
              <h4 class="panel-title">Datos De Despacho</h4> <span class="accordion-icon"></span>
            </accordion-heading>
            <div class="card">
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                  <thead>
                    <tr>
                      <th>Rut Despacho</th>
                      <th>Nombre Despacho</th>
                      <th>SKU</th>
                      <th>Estado BT</th>
                      <th>Direcci&oacute;n</th>
                      <th>Cod.BO</th>
                      <th>Regi&oacute;n</th>
                      <th>Comuna</th>
                      <th>CUD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let despacho of despachos">
                      <td>{{ despacho.rutDespacho }}</td>
                      <td>{{ despacho.nombreDespacho }}</td>
                      <td>{{ despacho.sku }}</td>
                      <td>{{ despacho.estadoBT }}</td>
                      <td>{{ despacho.direccion }}</td>
                      <td>{{ despacho.codBO }}</td>
                      <td>{{ despacho.region }}</td>
                      <td>{{ despacho.comuna }}</td>
                      <td>{{ despacho.cud }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </accordion-group>

          <accordion-group [isOpened]="false">
            <accordion-heading>
              <h4 class="panel-title">Datos De Compra</h4> <span class="accordion-icon"></span>
            </accordion-heading>
            <div class="card">
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                  <thead>
                    <tr>
                      <th>Monto<br>CAR</th>
                      <th>Cuotas</th>
                      <th>Primer<br>Vencimiento</th>
                      <th>Valor Cuota</th>
                      <th>Monto<br>TRE</th>
                      <th>Webpay<br>Crédito/Debito </th>
                      <th>Glosa<br>GSIC</th>
                      <th>Descripci&oacute;n</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let compraNC of comprasNC">
                      <td>{{ compraNC.montoCar }}</td>
                      <td>{{ compraNC.cuotas }}</td>
                      <td>{{ compraNC.primerVencimiento}}</td>
                      <td>{{ compraNC.valorCuota }}</td>
                      <td>{{ compraNC.montoTre }}</td>
                      <td>{{ compraNC.webpay }}</td>
                      <td>{{ compraNC.glosaGsic }}</td>
                      <td>{{ compraNC.descripcion }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br><br>
            <div class="card">
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Precio</th>
                      <th>Unidades</th>
                      <th>Descuento</th>
                      <th>Total</th>
                      <th>Despacho</th>
                      <th>Fono Despacho</th>
                      <th>Cod Boleta</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let compra of compras">
                      <td>{{ compra.sku }}</td>
                      <td>{{ compra.precio }}</td>
                      <td>{{ compra.unidad }}</td>
                      <td>{{ compra.descuento }}</td>
                      <td>{{ compra.total }}</td>
                      <td>{{ compra.despacho }}</td>
                      <td>{{ compra.fonoDespacho }}</td>
                      <td>{{ compra.codBoleta }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </accordion-group>

          <accordion-group [isOpened]="false">
            <accordion-heading>
              <h4 class="panel-title">Rechazo Total Stock</h4> <span class="accordion-icon"></span>
            </accordion-heading>
            <div class="card">
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Descripci&oacute;n</th>
                      <th>Precio U</th>
                      <th>Cantidad</th>
                      <th>Cant. NC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let rechazoTotalStock of rechazosTotalStock">
                      <td>{{ rechazoTotalStock.sku }}</td>
                      <td>{{ rechazoTotalStock.descripcion }}</td>
                      <td>{{ rechazoTotalStock.precioUnitario }}</td>
                      <td>{{ rechazoTotalStock.cantidad }}</td>
                      <td>{{ rechazoTotalStock.cantidadNC }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <div class="control">
              <button class="button is-success" style ="margin-left: 37rem;" (click)="confirmarRechazoTotal()">
                Confirmar
              </button>
            </div>
          </accordion-group>

          <accordion-group [isOpened]="false">
            <accordion-heading>
              <h4 class="panel-title">Rechazo Parcial Stock</h4> <span class="accordion-icon"></span>
            </accordion-heading>
            <div class="card">
              <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                  <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Descripci&oacute;n</th>
                      <th>Precio U</th>
                      <th>Cantidad</th>
                      <th>Cant. NC</th>
                      <th>Selecci&oacute;n</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let rechazoParcialStock of rechazosParcialStock">
                      <td>{{ rechazoParcialStock.sku }}</td>
                      <td>{{ rechazoParcialStock.descripcion }}</td>
                      <td>{{ rechazoParcialStock.precioUnitario }}</td>
                      <td>{{ rechazoParcialStock.cantidad }}</td>
                      <td>{{ rechazoParcialStock.cantidadNC }}</td>
                      <td (change)="validarParcialesElegidas()"><input type="checkbox"  [(ngModel)]="rechazoParcialStock.isSelected"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <div class="control">
              <button class="button is-success" style ="margin-left: 37rem;"
              (click)="confirmarRechazosParciales()"
              [disabled]="!isVisible">
                Confirmar
              </button>
            </div>
          </accordion-group>

        </accordion>

      </div>
      <br>
      <button class="button is-success" (click)="volver()">Volver</button>
    </div>
  </div>
</div>