<div class="container is-fluid">
  <div class="columns">
    <div class="column is-12">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Administrador Para Grupo Reglas Medio De Pago Seguro
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <div *ngIf="true">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                <thead>
                  <tr>
                    <th>Id Grupo</th>
                    <th style="width: 60rem;">Descripci&oacute;n</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let g of grupos; index as i">
                    <td>{{ g.idGrupo }}</td>
                    <td style="width: 60rem;">{{ g.descripcion }}</td>
                    <td>
                      <button class="button is-success btn" (click)="cambiarEstado(g.activo, i, g.idGrupo)" *ngIf="g.activo">
                        Activo
                      </button>

                      <button class="button is-danger btn" (click)="cambiarEstado(g.activo, i, g.idGrupo)" *ngIf="!g.activo">
                        Inactivo
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>